body {
  background: url('../public/images/whirlpool.png');
  font: 'Roboto';

}
.one-edge-shadow:active {
	-webkit-box-shadow: inset     0 6px 0 6px black;
	   -moz-box-shadow: inset   0 6px 0 6px black;
	        box-shadow: inset    0 6px  0 6px black;
}
.containerBoth {
  display: inline-block;
  overflow:auto;

}

.bookListContainer {
  width: 20%;
  margin: 20px;
  float: left;
}
.bookDetailContainer {
  width: 70%;
/*  box-shadow: 5px 5px 5px black; */
  margin: 20px;
  padding: 20px;
  float: right;
  /*border: 1px solid #ddd;*/
}
.bookDetailShort {
  padding-bottom: 20px;
}
.bookDetailAuthor {
  text-align: right;
}
.bookDetailSeperator {
  height: 2px;
  border: 1px solid black;
  border-radius: 200px;
  width: auto;
  margin: 20px 0 20px 0;

}

.booklist {
  background-color: #fefefe;

  margin: 0;
}

.booklistitem {
  box-shadow: 0.1px 0.1px 0.1px grey;
  padding: 20px;
  display: block;

}
.booklistitem:hover {
  color: white;
  background-color: #fb8c00;
  cursor: pointer;
}
